<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>characterEncoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncoding</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <error-page>
        <error-code>400</error-code>	<!-- Bad Request -->
        <location>/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>	<!-- Unauthorized -->
        <location>/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>402</error-code>	<!-- Payment Required -->
        <location>/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>	<!-- Forbidden -->
        <location>/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>	<!-- Not Found -->
        <location>/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>	<!-- Method Not Allowed -->
        <location>/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>406</error-code>	<!-- Not Acceptable -->
        <location>/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>407</error-code>	<!-- Proxy Authentication Required -->
        <location>/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>408</error-code>	<!-- Request Timeout -->
        <location>/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>	<!-- Conflict -->
        <location>/error/error.jsp</location>
    </error-page>

    <!-- 이렇게 하는 방식은, 모든 500 예외에 대해서 error.jsp 페이지로 한번에 처리 하겠다는 의미 -->
    <!--
    <error-page>
        <error-code>500</error-code>
        <location>/error/error.jsp</location>
    </error-page>
    -->

</web-app> 